<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/recipes/<%= @recipe.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="text" name="recipe[name]" placeholder="<%= @recipe.name %>">
      <input type="text" name="recipe[ingredients]" placeholder="<%= @recipe.ingredients %>">
      <input type="text" name="recipe[cook_time]" placeholder="<%= @recipe.cook_time %>">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
