<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/recipes" method="post">
      Name: <input type="text" name="recipe[name]" value="">
      Ingredients: <input type="text" name="recipe[ingredients]" value="">
      Cook Time: <input type="text" name="recipe[cook_time]" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
