Name: <h1><%= @recipe.name %></h1>
Ingredients: <h1><%= @recipe.ingredients %></h1>
Cook Time: <h1><%= @recipe.cook_time %></h1>
<a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a></br>
<a href="/recipes/">Show All Recipes</a>
